
.title
    font-family: 'Ubuntu'
    width: 100%
    font-weight: 500
    font-size: 30px
    line-height: 34px
    text-align: center
    color: #222222
    padding-bottom: 14px
    border-bottom: solid 3px #dedede
    text-align: left
    position: relative
    z-index: 1
    @media screen and ( max-width: 768px )
        padding-bottom: 0
    @media screen and ( max-width: 575px )
        font-size: 20px
    &::before
        content: ''
        position: absolute
        width: 265px
        height: 3px
        background: $company
        left: 0
        bottom: -3px
        z-index: 5  
        @media screen and ( max-width: 991px )
            width: 20%
    .title__small
        font-size: 24px
        font-weight: 600

.main-screen
    background-color: $company
.title__more
    color: rgba(51, 51, 51, 0.5)
    font-family: 'Open Sans'
    font-weight: 600
    font-size: 14px
    line-height: 19px
    text-transform: uppercase
    display: flex
    align-items: center
    position: absolute
    right: 0
    z-index: 5
    @media screen and ( max-width: 768px )
        font-size: 10px
    a
        color: rgba(51, 51, 51, 0.5)
.main-slider
    display: flex
    //height: 580px
    //height: 530px
    flex-wrap: nowrap
    justify-content: space-between
.main-slider__main-slide
    position: relative
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%     
    padding-bottom: 44px       
.main-slide__title
    font-family: 'Ubuntu'
    font-weight: bold
    font-size: 36px
    line-height: 55px
    color: #FFFFFF
    padding-top: 110px
    width: 42%
    @media screen and ( max-width: 992px )
        width: 100%
        font-size: 28px
        padding-top: 2%
.main-slide__text
    font-family: 'Open Sans'
    font-weight: normal
    font-size: 18px
    line-height: 32px
    width: 40%
    color: #FFFFFF
    padding: 40px 0 60px 0
    @media screen and ( max-width: 992px )
        font-size: 16px
        width: 100%
        padding: 20px 0 0 0 
.main-slide__count
    font-weight: 300
    font-size: 46px
    color: #ffffff
.main-slide__img 
    position: absolute
    bottom: -5px
    right: 0
    width: 58%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2)
    transition: 0.8s
    @media screen and ( max-width: 991px )
        position: relative
        // margin-left: 50%
        // transform: translateX(-50%)
        margin-bottom: -43px
        width: 100%

.main-slide__img._active
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

.title-block
    display: flex
    justify-content: space-between
    width: 100%
    position: relative
    margin: 60px 0 45px 0
    @media screen and ( max-width: 768px )
        align-items: center
.slider-arrow
    display: flex
    margin-left: 35px
.circle
    width: 30px
    height: 30px
    border-radius: 50%
    cursor: pointer
    transition: 0.3s
    &:hover
        box-shadow: 0 0 5px rgba(0,0 ,0 ,0.5 )
.circle__bg_orange 
    background-color: $orange
.circle__bg_blue
    background-color: $company
.circle_left
    background-image: url('../images/arrow_left_white.svg')
    background-position: 45% center
    background-repeat: no-repeat

.circle_right
    background-image: url('../images/arrow_right_white.svg')
    background-position: 50% center
    background-repeat: no-repeat
.circle + .circle
    margin-left: 10px

.slider-items__slide
    @media screen and ( max-width: 1200px )
        flex: 0 0 50%
        max-width: 50%
        margin-top: 15px
        margin-bottom: 15px
    @media screen and ( max-width: 768px )
        flex: 0 0 100%
        max-width: 100%
.item__box
    display: flex
    align-items: center
    margin: 0 -15px
    flex-wrap: wrap

.item
    font-family: 'Open Sans'
    font-weight: normal

.item__photo
    padding: 10px
    a
        display: flex
        img
            margin: auto

.items-tabs__item-wrap
    opacity: 0.3
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3)
    transition: 0.7s
    @media screen and ( max-width: 992px )
        margin-top: 15px
        margin-bottom: 15px

.items-tabs__item-wrap._active
    opacity: 1
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
.item__photo_bg
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15)
    margin-bottom: 25px

    transition: 1.5s
    opacity: 0.1

.item__photo_bg._active
    background-color: #ffffff
    opacity: 1

.item__info
    padding-right: 25px

.item__item-price
    font-family: 'Montserrat'
    font-weight: 600
    display: flex
.item__item-price_pos
    justify-content: space-between
    align-items: center
    .item-action__buy-box_compare
        margin-top: -10px
.item-price__new
    margin-right: 25px
    color: $company
    
.item-price__old
    text-decoration: line-through
    font-weight: 500
    color: rgba(34, 34, 34, 0.5)
.item__name
    font-size: 16px
    line-height: 22px
    text-transform: uppercase
    @media screen and ( max-width: 1200px )
        font-size: 14px
    a
        color: #222222
        font-weight: 600
        transition: 0.3s
        &:hover
            color: rgba(51, 51, 51, 0.6)
.item__rating
    display: flex
    margin: 13px 0 15px 0
    div
        margin-right: 5px
        background-image: url('../images/star_bg_ico.svg')
        background-position: center center
        background-repeat: no-repeat 
        width: 15px
        height: 15px
.item-action__bought
    color: rgba(34, 34, 34, 0.5)
    font-weight: 600
    font-size: 16px
    line-height: 22px

.item-buy-btn-text
    color: $orange
    font-weight: 600
    font-size: 16px
    line-height: 22px
    padding: 0 23px

.item-buy-btn
    border: solid 2px $orange
    background: 0
    display: flex
    line-height: 45px
    height: 45px
    align-items: center
    padding: 0
    margin: 20px 0
    transition: 0.3s
    background-color: #ffffff
    &:hover
        box-shadow: 0 0 5px rgba(0, 0, 0,0.2 )
        background-color: $orange
    &:hover .item-buy-btn-text
        color: #ffffff

.item-buy-btn-ico
    background-color: $orange
    width: 45px
    height: 45px

    background-image: url('../images/basket_ico_white.svg')
    background-position: center center
    background-repeat: no-repeat 


.item-action__buy-box
    display: flex
    align-items: center
    //justify-content: space-between
.item-action__item-icons
    display: flex
    align-items: center

.item-action__buy-box__icon 
    width: 25px
    height: 25px    
    
    background-position: center center
    background-repeat: no-repeat 
    background-size: cover

    margin-left: 20px
.item-action__buy-box__icon_star
    background-image: url('../images/star_ico_gray.svg')
.item-action__buy-box_compare
    background-image: url('../images/compare_ico_gray.svg')
.items-tabs__tabs-row_wrap
    background-color: #EBF3FA
.items-tabs__tabs-row
    display: flex
    justify-content: space-between
    font-family: 'Open Sans'
    padding: 21px 0
    flex-wrap: wrap
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3)
    transition: 0.8s
    @media screen and ( max-width: 840px )
        display: none
.items-tabs__tabs-row._active
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
.items-tabs__tabs-row__open
    display: none
    @media screen and ( max-width: 840px )
        display: flex
        padding: 20px 0
        flex: 1 1 100%
        max-width: 100%
    form
        flex: 1 1 auto
    .items-tabs__tabs-row__select
        width: 100%
    
.tabs-link
    color: rgba(34, 34, 34, 0.7)
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px

    cursor: pointer
    transition: 0.3s
    @media screen and ( max-width: 1200px )
        font-size: 14px
    @media screen and ( max-width: 1100px )
        font-size: 12px

    &:hover
        color: #222222
    &_active
        color: #222222
.item-full-substrate
    background: #FFFFFF
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15)
    padding: 25px 20px
    .item__photo
        width: 145px
        height: 245px
        margin: 0 auto 20px auto
        padding: 0
.item-full-substrate_ico
    position: absolute
    top: 20px
    left: 20px
.items-tabs-items-container
    margin: 40px -15px 60px -15px

//-------------ABOUT
.about-image 
    @media screen and ( max-width: 991px )
        margin-top: 50px
    @media screen and ( max-width: 768px )
        margin-top: 20px
    img
        width: 100%
        border: solid 20px #ffffff
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1)

.title-about_pos
    margin-bottom: 45px
.about-info__link
    display: flex
    align-items: center
    a
        font-family: 'Open Sans'
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 24px
        color: #222222
        margin-right: 10px

    span
        display: block
.about-info__text
    line-height: 24px
    p
        padding-bottom: 16px

//----------features
.features
    margin: 70px 0 60px 0
.feature
    display: flex
    align-items: center
    width: 100%
    height: 75px
    box-shadow: 0 0 3px rgba(0,0 ,0 ,0.25 )
.feature-wrap
    display: flex
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3)
    opacity: 0.3
    transition: 0.7s
    @media screen and ( max-width: 991px )
        margin: 5px 0
.feature-wrap._active
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    opacity: 1
.feature-text
    font-family: 'Ubuntu'
    font-weight: normal
    font-size: 18px
    line-height: 128.5%

    color: #888888

    padding-right: 55px
.feature-ico
    padding: 0 40px
    @media screen and ( max-width: 1300px )
        padding: 0 20px
    @media screen and ( max-width: 1100px )
        padding: 0 10px
    @media screen and ( max-width: 991px )
        padding: 0 40px
    div
        width: 25px
        height: 25px
        img
            width: 100%
            height: 100%

//-------------widjet-blog-wrap

.widjet-blog__widjet-blogs-slider
    display: flex
    margin: 0 -15px
    position: relative
    flex-wrap: wrap
.widjet-blogs-slider-slide
    width: 50%
    padding: 0 15px
    margin-bottom: 20px 

    display: flex
    flex-direction: column
    @media screen and ( max-width: 768px )
        width: 100%
.widjet-blog_pos
    margin-top: auto
.widjet-blogs-one-group
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 140%
    text-transform: uppercase
    a
        color: #A3A3A3
.widjet-blogs-one-name
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 140%
    margin: 25px 0 30px 0
    a
        color: #333333
.widjet-blogs-one-text
    font-family: 'Open Sans'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 19px
    color: #7F8187
.widjet-blogs-one-text_pos
    display: flex
    flex-direction: column
.widjet-blogs-one-date
    padding-top: 30px
.widjet-blog-subscribe__form_input
    display: flex
    border: 1px solid #E7E7E7
    box-sizing: border-box
    align-items: center
    margin: 15px 0
    input
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 140%
        color: #333333

        padding-left: 25px

        &::placeholder
            color: #333333
            font-weight: 500
    label
        display: flex
        align-items: center
.widjet-blog-subscribe__form_more
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 140%
    color: #A0A0A0
.btn-sign
    background: $company
    color: #ffffff
    font-family: 'Ubuntu'
    font-weight: 500
    font-size: 16px
    line-height: 18px
    text-transform: uppercase
    padding: 16px 40px
    @media screen and ( max-width: 575px )
        font-size: 14px
        padding: 16px
    @media screen and ( max-width: 420px )
        font-size: 12px
        padding: 16px 5px

.circle__box
    display: flex
    position: absolute
    right: 15px
    top: -15px
    @media screen and ( max-width: 991px )
        top: auto
        bottom: 0

.js-slider-brands
    width: 82%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    @media screen and ( max-width: 991px )
        flex-wrap: wrap

.slider-brands__slide
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3)
    opacity: 0.2
    transition: 1s
    @media screen and ( max-width: 991px ) 
        flex: 0 0 33.333%
        max-width: 33.333%
        padding: 0 15px
        text-align: center
    @media screen and ( max-width: 575px )
        flex: 0 0 50%
        max-width: 50%
    @media screen and ( max-width: 470px )
        flex: 0 0 100%
        max-width: 100%

.slider-brands__slide._active
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    opacity: 1

.widjet-brands-wrap
    margin: 60px 0

.widjet-brands__inner
    position: relative
    .circle_left
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
    .circle_right
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)

//---------aside
aside
    padding-left: 0

.left-bar
    //padding: 0
    padding-left: 0
    width: 285px
    margin-top: 30px
    //margin-right: 30px
    @media screen and ( max-width: 1400px )
        display: none
.left-bar__title
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 33px
    color: #222222
    padding-bottom: 10px
.menu__list
    font-family: 'Roboto'
    .list__item_active
        a
            color: #222222
            font-weight: 600
    li
        font-weight: normal
        
        font-size: 16px
        background-color: #F2F5F7
        margin: 2px 0
        padding: 14px 15px 14px 0
        position: relative
        transition: 0.3s
        a
            line-height: 19px
            color: #818D94
            padding-left: 50px
            display: block
            transition: 0.3s
            &::before
                content: ''
                width: 7px
                height: 7px
                border-radius: 50%
                background-color: $company
                position: absolute
                left: 25px
                top: 50%
                transform: translateY(-50%)
                transition: 0.3s
        &:hover
            box-shadow: 0 0 5px rgba(black, 0.2)

        &:hover a
            &::before
                background-color: lighten($company, 25% )

.main__inner
    display: flex
.main__listing
    display: flex
    flex-direction: column
    flex: 1 1 auto



//--------pages-number
.pages-number
    margin: 35px auto 85px auto
.pages-number__box
    display: flex
    align-items: center
.pages-number__inner
    display: flex
    align-items: center
    margin: 0 20px
    @media screen and ( max-width: 768px )
        margin: 0 5px
.pages-number__link
    display: flex
    margin: 0 
    border: solid 1px transparent
    width: 30px
    height: 30px
    border-radius: 50%
    display: flex
    transition: 0.4s
    a
        color: rgba(34, 34, 34, 0.5)
        margin: auto
    &_active
        width: 30px
        height: 30px
        border-radius: 50%
        background-color: $orange
        a
            color: #ffffff
    &:hover
        border-color: $orange

.pages-number__link_prev,
.pages-number__link_next
    width: 50px
    height: 50px
    border-radius: 50%
    border: 1px solid rgba(34, 34, 34, 0.5)
    box-sizing: border-box
    @media screen and ( max-width: 768px )
        width: 40px
        height: 40px
    a
        display: block
        width: 100%
        height: 100%
        display: flex
        img
            margin: auto

//---------choice
.choice
    margin-top: 35px
.choice__string
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 300
    font-size: 16px
    line-height: 19px
    color: #7F8187

    margin-bottom: 20px
.choice__box__top
    display: flex
    justify-content: space-between
    border-bottom: solid 1px #dedede
    padding-bottom: 15px
    @media screen and ( max-width: 991px )
        flex-wrap: wrap
.choice__box__top__selcet
    display: flex
    align-items: center
    select
        margin-left: 10px
.choice__box__top__selcet + .choice__box__top__selcet
    margin-left: 30px
.choice__box__top__block
    display: flex
    color: #222222
    @media screen and ( max-width: 991px )
        width: 100%
        margin: 15px 0

.choice__box__top__block__select
    @media screen and ( max-width: 575px )
        flex-wrap: wrap
        justify-content: flex-start
    .choice__box__top__selcet
        @media screen and ( max-width: 575px )
            width: 100%
            margin: 5px 0 5px 0
.choice__box__top_btn
    height: 100%
    margin-left: 25px
    padding-left: 25px
    position: relative
    @media screen and ( max-width: 575px )
        display: none
    &::after
        content: ''
        height: 100%
        width: 1px
        background: rgba(34, 34, 34, 0.5)
        position: absolute
        left: 0
    button
        background: none
        height: 100%
        padding: 0
    button + button
        margin-left: 10px
.chocie__input
    display: flex
    flex: 1 1 100%
    input
        color: #222222
        border: solid 1px #EDEDED
        padding: 10px 
        &::placeholder
            color: rgba(34, 34, 34, 0.5)
    button
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25))
        background: #EDEDED
        border-radius: 2px
        transition: 0.3s

        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 16px
        color: rgba(34, 34, 34, 0.7)
        margin-left: 10px
        padding: 0 20px
        &:hover
            filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.55))
            
.choice__box__bottom
    display: flex
    margin-top: 20px
    @media screen and ( max-width: 1400px )
        flex-wrap: wrap
.choice__select
    display: flex
    flex: 1 1 auto
    margin: 0 2.5px

    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 14px
    @media screen and ( max-width: 1400px )
        margin: 1px 

select
    display: flex
    flex: 1 1 auto
    color: rgba(34, 34, 34, 0.5)
    border: solid 1px #EDEDED
    padding: 10px
    cursor: pointer

.choice__select_del
    width: 35px
    height: 39px
    background-color: #dedede

//--------listing
.listing
    display: flex
    
    .item__box  
        flex-wrap: wrap
        margin: 0 -15px
        .item
            padding: 25px 0

//-------------item-page

.special-offer__row
    display: flex
    align-items: center
    width: 100%
    margin: 20px 0
    justify-content: space-between
    @media screen and ( max-width: 575px )
        background: #F1F1F1
        justify-content: center

.special-offer__inner
    display: flex
    justify-content: space-between
    margin-bottom: 75px
    @media screen and ( max-width: 1220px )
        flex-wrap: wrap

.special-offer__item__box
    width: 43%
    @media screen and ( max-width: 1220px )
        width: 100%
        margin: 25px 0

.special-offer__input__box
    width: 67%
    @media screen and ( max-width: 1220px )
        width: 100%


.special-offer__text 
    position: relative
    color: $company
    background:  #F1F1F1
    padding: 12px 49px
    font-family: 'Open Sans'
    font-weight: 600
    font-size: 18px
    line-height: 25px
    white-space: nowrap
    @media screen and ( max-width: 768px )
        font-size: 16px
    @media screen and ( max-width: 575px )
        display: flex
        padding: 12px 0
        justify-content: center

    &::after 
        content: ''
        position: absolute
        right: -49px
        bottom: 0
        border: 24px solid transparent
        border-left: 25px solid #F1F1F1 
        @media screen and ( max-width: 575px )
            border-left: none

.special-offer__strip
    width: 69%
    height: 2px
    background: #F1F1F1 
    @media screen and ( max-width: 575px )
        display: none

.special-offer__input__price
    margin-left: auto
    @media screen and ( max-width: 1220px )
        margin-left: 35px

.special-offer__input__box__total__price
    // font-family: 'Open Sans'
    font-weight: 600
    font-size: 16px
    line-height: 22px
    color: #222222
    padding-right: 50px
    @media screen and ( max-width: 575px )
        width: 100%
        margin-bottom: 25px
    span
        color: $company
        font-weight: 700

.special-offer__input__box__total
    display: flex
    align-items: center
    margin-top: 25px
    @media screen and ( max-width: 575px )
        flex-wrap: wrap

.special-offer__input
    //font-family: 'Open Sans'
    font-weight: 500
    font-size: 14px
    line-height: 19px
    color: #222222
    display: flex
    align-items: center
    margin-bottom: 15px

.special-offer__item
    display: flex
    align-items: center

.special-offer__item__add
    color: #222222
    position: relative
    width: 19px
    height: 3px
    border-radius: 50px
    background: #222222

    margin: 0 15px 15px 
    @media screen and ( max-width: 575px )
        margin: 0 0 15px 0 
    &::before
        content: ''
        width: 100%
        height: 3px
        position: absolute
        background: #222222
        transform: rotate(90deg)



.special-offer__input__price
    font-weight: 600

.special-offer__item__result
    display: flex
    align-items: center
    img
        width: 8px
        height: 8px
        margin-bottom: 2px
    div
        margin-left: 3px

.special-offer__item__result__numb
    font-family: 'Open Sans'
    font-weight: 500
    font-size: 10px
    line-height: 19px
    color: rgba(34, 34, 34, 0.5)

.special-offer__item__foto
    width: 80px
    height: 100px
    display: flex
    img
        height: 100%
        margin: auto

//---------description

.description
    .items-tabs__tabs-row
        justify-content: flex-start
        div
            margin-right: 50px

table
    font-family: 'Open Sans'
    border-collapse: collapse
    margin: 55px 0 90px 0
    tr
    th
        
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 25px
        color: #222222
        text-align: left
        border-bottom: 1px solid #EDEDED
        padding: 10px 100px 10px 0
        @media screen and ( max-width: 768px )
            font-size: 12px
            padding: 10px 50px 10px 0
        @media screen and ( max-width: 768px )
            padding: 10px 20px 10px 0
    td
        font-weight: normal
        font-size: 20px
        line-height: 27px
        color: rgba(34, 34, 34, 0.8)
        border-bottom: 1px solid #EDEDED
        @media screen and ( max-width: 768px )
            font-size: 14px
            text-align: right
            padding-left: 50px
        @media screen and ( max-width: 420px )
            padding-left: 0

            

//------our-blog
.our-blog
    margin-bottom: 75px

.title-block
    position: relative
    .box__load
        position: absolute
        left: 32%
        bottom: 3px
        @media screen and ( max-width: 991px )
            bottom: -155%
            left: -6px
        
//------------feedback

.feedback__inner

.feedback__result__top
    display: flex
    font-family: 'Open Sans'
    align-items: center
    justify-content: flex-end

.feedback__result__left
    font-weight: 600
    font-size: 48px
    line-height: 65px
    color: #222222
    margin-right: 20px

.feedback__result__figure
    display: flex
    div
        width: 15px
        height: 15px
        img
            width: 100%
            height: 100%
    div + div
        margin-left: 7px
        
.feedback__result__right__text
    font-weight: 500
    font-size: 14px
    line-height: 19px
    color: rgba(34, 34, 34, 0.5)

.feedback__result__bottom__block
    display: flex
    align-items: center
    font-family: 'Open Sans'
    color: #222222
    justify-content: space-between
    @media screen and ( max-width: 991px )
        justify-content: flex-start
    @media screen and ( max-width: 375px )
        justify-content: space-between

.feedback__result__bottom__block + .feedback__result__bottom__block
    margin-top: 10px

.feedback__result__bottom__rank
    font-weight: 500
    font-size: 14px
    line-height: 19px

.feedback__result__bottom__load-strip
    width: 165px
    height: 8px
    border-radius: 15px
    background: #EDEDED
    margin-bottom: -4px
    @media screen and ( max-width: 1300px )
        width: 50%
    @media screen and ( max-width: 991px )
        width: 165px
        margin: 0 20px
    div
        //background: $company
        //width: 80%
        height: 100%
        border-radius: 15px
    .result_80
        width: 80%
        background: $company
    .result_50
        width: 50%
        background: $company
    .result_30
        width: 30%
        background: $company
.feedback__result__bottom__numb
    width: 6%
    text-align: center
    @media screen and ( max-width: 375px )
        text-align: right

.feedback__result__block
    border: 1px solid #C4C4C4
    padding: 22px
    font-family: 'Open Sans'

.feedback__result__block__header
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: #222222

.feedback__result__block__assessment
    display: flex
    align-items: center
    justify-content: flex-start
    margin: 10px 0  15px 0
    @media screen and ( max-width: 450px )
        flex-wrap: wrap
    .feedback__result__figure
        @media screen and ( max-width: 450px )
            width: 100%
.feedback__result__block__link-network
    margin-left: auto
    margin-bottom: -6px
    @media screen and ( max-width: 450px )
        margin-bottom: -26px

.feedback__result__block__row
    margin-left: 15px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: #222222
    @media screen and ( max-width: 450px )
        margin-left: 0
        margin-top: 20px
.feedback__result__block__text
    font-weight: 500
    font-size: 12px
    line-height: 16px
    color: #222222

.feedback__result__block__footer
    display: flex
    align-items: center
    font-weight: normal
    font-size: 10px
    line-height: 14px
    color: rgba(34, 34, 34, 0.5)
    justify-content: space-between
    padding-top: 15px

.feedback__result__block__footer__right
    display: flex
    div + div
        margin-left: 25px

.feddback__col_pos
    @media screen and ( max-width: 991px )
        margin: 20px 0

// .feddback__col_med
//     @media screen and ( max-width: 1330px )
//         flex: 0 0 100%
//         max-width: 100%
//         margin: 20px 0
//         display: flex

