
body
    margin: 0 auto
    width: 100vw
    min-height: 100vh
    background-color: #ffffff
    max-width: 100%
    min-width: 300px
    font-family: OpenSans
    display: flex
    flex-direction: column
    position: relative

main
    display: flex
    flex-direction: column
    flex: 1 1 auto

    
h1, h2, h3, h4, h5, h6, p
    margin: 0
*, *::before, *::after
    box-sizing: border-box
ul
    padding: 0
    margin: 0
    list-style: none
a
    text-decoration: none
img
    max-width: 100%
button
    cursor: pointer
    border: none
input[type="tel"],
input[type="text"]
        width: 100%
        outline: none
        border: 0
.container
    max-width: 1440px
    padding: 0 110px
.header-bottom__img
    height: 25px
    img 
